.footer-container{
    background-image: url('../../assets/images/footer-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: max-content;
    margin-top: 140px;
}

.footer-box-cont {
    width: 75%;
    margin: 0 auto;
    height: 100%;
}

.footer-box {
    height: 100%;
    padding-top: 70px;
    padding-bottom: 70px;
}

.footer-box-sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.social-box {
    margin-top: 32px;
}

.social-box img {
    margin-right: 25px;
}

.footer-title {
    font-family: PangramBold;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
    margin-bottom: 20px;
}



.footer-info-box ul li {
   list-style-type: none;
   font-family:PangramCompactRegular;
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 24px;
   color: rgba(255, 255, 255, 0.5);
   margin-bottom: 5px;
}

@media (max-width: 700px) {
    .footer-box-sub{
        flex-direction: column;
    }

    .footer-box {
        text-align: center;
    }

    .footer-info-box {
        margin-top: 20px;
    }
}